<div filier="table_filier">
    <h1>Create a Student</h1>
    <div filier="helper_tools">
      <p><fa-icon [icon]="TrashIcon" (click)="deleteSelectedRow()"></fa-icon></p>
    </div>
    <table mat-table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let filier"> {{filier.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="filierNom">
        <th mat-header-cell *matHeaderCellDef> Nom du filier</th>
        <td mat-cell *matCellDef="let filier"> {{filier.filierNom}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Constultation">
        <th mat-header-cell *matHeaderCellDef > Consultation</th>
        <td mat-cell *matCellDef="let filier" ><a [routerLink]="['/FilierDetail']" [queryParams]="{ id:filier.id }" target="_blank">Afficher</a><fa-icon filier="delete_row_icon" (click)="deleteRow(filier)" [icon]="TrashIcon"></fa-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    <br><br>
